<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/signup_styles.css">
  <title>Sign Up</title>
</head>
<body>
  <div class="signup-container">
    <h1>Sign Up on <span>Linky</span></h1>
    <form class="signup-form" method="post" action="/user">
      <input type="text" required name="name" placeholder="Full Name">
      <input type="email" required name="email" placeholder="Email ID">
      <input type="password" required name="password" placeholder="Password">
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="https://linky-wzj5.onrender.com/login"><span>Log In!</span></a></p>
  </div>
</body>
</html>